@{
    ViewData["Title"] = "Planet Kitchens Pharmacies";
    ViewData["PageTitle"] = "الصفحة الرئيسية";
    Layout = "_Layout";
}

<div class="index-container">
    @Html.Partial("_Hero")
    @Html.Partial("_Services")
    @Html.Partial("_Portfolio")
</div>